.m-doc-nav-wrap {
    padding-left: 180px;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    width: 100%;
    overflow-x: auto;
}
.m-doc-nav-wrap::-webkit-scrollbar{
  display:none;
}
.m-doc-nav-inner {
    padding-left: 60px;
    padding-right: 310px;
}
.m-doc-layout {
    margin: 0 auto;
    max-width: 980px;
}
nav { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
}
nav a {
    margin-right: 70px;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
    white-space: nowrap;
    height: 49px;
}
nav a:hover {
    color: #91bfff;
}
nav .m-doc-nav-on {
    color: #3388FF;
}