<div class="top-search-box" id="top-search-box">
    <form>
        <div class="search-btn"></div>
        <input autocomplete="off" type="text" id="local-search-input" name="q" results="0" placeholder="回车搜索" class="st-search-input st-default-search-input form-control"/>
        <button type="reset" class="reset-search-btn"></button>  
    </form>
</div>

<div class="top-search-wapper" id="top-search-box-pc">
    <form>
        <div class="search-btn-pc"></div>
        <input autocomplete="off" type="text" id="local-search-input-pc" name="q" results="0" placeholder="搜索..." class="st-search-input st-default-search-input form-control"/>
        <img src="/docs/img/header_search_pc.png" class="search-btn" id="search-btn-pc">
    </form>
</div>

<!-- sug搜索 -->
<div class="top-search-sug" id="top-search-sug">
</div> 